<div class="company">
  <div class="wrapper company-wrapper">
    <section class="company__about-company">
      <img src="assets/images/company.component.images/company-logo-name-black.svg" alt="Logo" width="150" height="150" class="company__about-company__logo">
      <h2 class="company__about-company__heading section-heading">
        About Ethereal Machines
      </h2>
      <p class="company__about-company__detail section-text">
         Ethereal Machines breathes by the mission of churning out entrepreneurs in the engineering world. Our machines are built
        to invigorate, nurture and embolden an engineer while unbridling the designer’s freedom to create. Ethereal Machines brings
        about a conjunction between additive and subtractive manufacturing techniques.
      </p>
      <p class="company__about-company__detail section-text">
         The experience gained over the years by manufacturing CNC Routers has helped us command technical strength and expertise
        over the field. Technologies that have the potential to create large-scale impacts have always consumed us and shaped the
        direction of our work over the past few years. Our team of engineers strive everyday to refine the shape of the manufacturing
        industry, lesser the burden of capital costs of machineries and increase user friendliness of CNC machines.
      </p>
      <p class="company__about-company__detail section-text">
         Our mission is to solve problems related to manufacturing faced by industries, engineers and makers through our CNC Routers
        and aid the growth of small-scale and mid-scale entrepreneurs by equipping them with affordable machines.
      </p>
      <p class="company__about-company__detail section-text">
         Based out of the startup hub of India, Bangalore, Ethereal Machines caters to clients across various fields and helps them
        establish successful businesses. Our clients range from some of the well renowned industries in India to the best maker-spaces
        as well.
      </p>
      <p class="company__about-company__detail section-text">
         Ethereal Machines is an ISO 9001: 2015 certified company. Ethereal Machines is also recognized as a start-up under the ‘Start-up
        India’ and ‘Make in India’ scheme by the Government of India.
      </p>
      <hr>
      <div class="company__about-company__logo-container">
        <div class="company__about-company__logo-container__logo">
          <img src="assets/images/company.component.images/make-in-india.svg" alt="Make in India Logo" width="300" height="140" class="make-in-india">
        </div>
        <div class="company__about-company__logo-container__logo company__about-company__logo-container__logo--on-medium">
          <img src="assets/images/company.component.images/startup-india.svg" alt="Startup India Logo" width="300" height="60" class="startup-india">
        </div>
        <div class="company__about-company__logo-container__logo">
          <img src="assets/images/company.component.images/iso.svg" alt="Iso Logo" width="152" height="152" class="iso">
        </div>
      </div>
    </section>
    <!-- <section class="company__company-journey">
      <h2 class="company__company-journey__heading section-heading">
        Journey so Far!
      </h2>
    </section> -->
  </div>
</div>

<!-- Adding footer for the website -->
<app-footer></app-footer>