<div class="media">
  <div class="wrapper media-wrapper">
    <h2 class="section-heading">Media and Press Release</h2>

    <div class="media__container">
      <div class="media__item" *ngFor="let item of contents">
        <div class="media__item__img-container">
          <img src="{{ item.imgLink }}" alt="Media Image" width="300" height="226">
          <div class="overlay">
            <button class="btn btn-primary" [ngClass]="{ 'btn--hidden' : !item.isMediaPlayble }" (click)="openModal()">{{ item.btnTitle }}</button>
            <a href="{{ item.mediaLink }}" target="_blank" class="btn btn-primary" [ngClass]="{  'btn--hidden' : item.isMediaPlayble }">{{ item.btnTitle }}</a>
            <button class="btn btn-primary" [ngClass]="{ 'btn--hidden' : !item.isPartOfApp }" (click)="openPressReleaseModal()">{{ item.btnTitle }}</button>
          </div>
        </div>
        <div class="media__item__detail-container">
          <h4>{{ item.heading }}</h4>
          <div class="media__item__detail-container__date-publisher">
            <span class="date">{{ item.date }}</span>
            <span class="publisher">{{ item.publisher }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-container" [ngClass]="{ 'modal-container--active-modal' : isModalOpen }" (click)="closeModal()">
    <img src="assets/images/app.component.images/cross-btn.svg" alt="Cross" width="30" height="30" class="cross-btn">
    <iframe width="720" height="400" src="https://www.youtube-nocookie.com/embed/pHbs1GqRA94?rel=0&amp;controls=0&amp;showinfo=0"
      frameborder="0"></iframe>
  </div>

  <div class="modal-container modal-container--press-release" [ngClass]="{ 'modal-container--active-modal' : isPressReleaseModalOpen }">
    <img src="assets/images/app.component.images/cross-btn-black.svg" alt="Cross" width="30" height="30" class="cross-btn cross-btn--black" (click)="closePressReleaseModal()" style="color: black;">
    <app-press-release (click)="disableClick()"></app-press-release>
  </div>


</div>

<!-- Adding footer for the website. -->
<app-footer></app-footer>