.company {
  padding-top: 48px;

  &__about-company {
    margin-bottom: 64px;

    &__logo {
      display: block;
      margin: 30px auto 0;
      width: 100px;
      height: 100px;

      @include atMedium {
        margin-top: 54px;
        width: 150px;
        height: 150px;
      }
    }
    
    &__heading {
      margin-bottom: 13px;
  
      @include atMedium {
        margin-bottom: 38px;
      }
  
      @include atLarge {
        margin-bottom: 17px;
      }
  
      @include atLarger {
        margin-bottom: 38px;
      }
    }
  
    &__detail {
      text-align: center;
    }

    &__key-people {
      .key-people {
        @include flexBoxRow;
        justify-content: space-around;
        padding: 40px 0 0;
      }
    }

    &__logo-container {
      @include flexBoxRow;
      justify-content: center;

      &__logo {
        width: 100%;
        padding: 10px 0;

        @include atMedium {
          width: 50%;
        }

        @include atLarge {
          width: 33.33%;
          padding: 0;
        }

        img {
          display: block;
          margin: auto auto;
        }

        .make-in-india {
          @include fullHeightNavbar {
            height: 100px;
          }
        }
        .startup-india {
          @include fullHeightNavbar {
            height: 40px;
          }
        }
        .iso {
          @include fullHeightNavbar {
            height: 100px;
            width: 100px;
          }
        }

        &--on-medium {
          @include atMedium {
            @include flexBoxRow;
            align-items: center;
          }
        }
      }

    }

  }

  &__company-journey {
    margin-bottom: 98px;

    &__heading {
      margin-bottom: 13px;
  
      @include atMedium {
        margin-bottom: 38px;
      }
  
      @include atLarge {
        margin-bottom: 17px;
      }
  
      @include atLarger {
        margin-bottom: 38px;
      }
    }
  }
}