.home {
  height: 100vh;
  background: url('../assets/images/home.component.images/home-page.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.learn-more-image {
  position: absolute;
  bottom: 10.5%;
  left: 50%;
  transform: translateX(-50%);
}

.learn-more-image:hover {
  cursor: pointer;
}