.lalbhai-group-press-release {

  &__content-section {
    padding: 20px 0;
  }

  .headline {
    font-weight: bolder;
  }

  .section-text {
    line-height: 1.8;
    text-align: justify;
    max-width: 900px;
    margin: 0 auto;
  }
}