.press-release {
  padding-top: 48px;
  padding-bottom: 30px;
  position: relative;
  
  .section-heading {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .section-sub-heading {
    @include ralewayMedium;
  }

  &__top-section {
    padding-top: 10px;
  }

  &__product-image {
    margin: 20px auto;
    // background: url('../assets/images/press-release.component.images/halo-dark.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 167px;

    @include atMedium {
      width: 85%;
      width: 720px;
      height: 400px;
    }

    &--halo {
      background: url('../assets/images/press-release.component.images/halo-dark.svg');
    }
  }

  &__image-quote {
    width: 100%;
    padding: 5px 0;


    @include atMedium {
      @include flexBoxRow;
      align-items: center;
      padding: 20px 0;
    }

    .image {
      width: 630px;
      height: 420px;
      background: url('../assets/images/press-release.component.images/halo-light.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    p,
    .image {
      width: 100%;
      display: block;
      @include atLarge {
        width: 50%;
      }
    }

    p {
      font-size: 18px;
      @include atMedium {
        font-size: 25px;
      }
      @include atLarge {
        padding-right: 20px;
      }
    }

    .image {
      margin: 0 auto;
      @include atLarge {
        padding-left: 10px;
      }
    }
  }
}

strong {
  @include robotoMedium;
}