.contact-and-enquiry {
	color: $fontColor;

	&__msg {
		font-family: 'Open Sans', sans-serif !important;
		text-align: center;
		padding-bottom: 54px;
		margin-bottom: 0;
	}
	
	&__form {
		font-family: 'AkkuratBold';
		font-size: 20px;
		padding-bottom: 56px;
	}

	&__form__submit-btn {
		font-size: 15px;
		font-family: 'Open Sans', sans-serif !important;
		display: block;
		width: 192px;
		margin-left: auto;
		margin-right: auto;
	}

	.form-group__text-area {
		resize: none;
	}

	.form-group {
		margin-bottom: 37px !important;

		label {
			text-transform: uppercase;
			font-family: 'Roboto', sans-serif !important;
		}
	}
}