/*@font-face {
	font-family: akkuratBold;
	src: url('../../fonts/akkurat-bold.ttf') format('truetype');
}

@font-face {
	font-family: liberationSans;
	src: url('../../fonts/liberation-sans-regular.ttf') format('truetype');
}*/

.roboto {
	font-family: 'Roboto', sans-serif !important;
}

.open-sans {
	font-family: 'Open Sans', sans-serif !important;
}

.heading-special {
	font-family: 'Varela Round', sans-serif !important;
}