.headline {
	font-size: 40px;
	font-family: akkuratBold;
	font-weight: bold;
	margin: 0;

	&--centered {
		text-align: center;
	}

	&--leftaligned {
		text-align: left;
	}
	
	&--about-company-heading {
		/*color: $fontColor;*/
		font-family: 'Open Sans', sans-serif;
	}

	&--top-heading {
		font-size: 50px;
	}

	&--features-headline,
	&--about-product,
	&--tech-specs {
		padding: 72px 0 48px;
	}
	
	&--form-headline {
		padding: 72px 0 21px;
		font-family: 'Open Sans', sans-serif;
	}

	&--about-company-heading {
		padding: 96px 0 48px;
	}
}