.product-details {
	
	padding-bottom: 0px;
	
	&__row {
		position: relative;
	}

	&__description {

		padding: 0;
		margin-bottom: 52px;

		p {
			font-size: 20px;
			line-height: 1.4;
			font-family: 'Open Sans', sans-serif;
		}
	}

	&__product-image {

		position: relative;
		/*top: -70px;*/
		/*right: 0;*/

		img {
			/*position: absolute;*/
			/*top: -70px;*/
			/*right: 0;*/
			display: block;
			margin: 0 auto;
		}
	}

}