.wrapper {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1206px;

	.wrapper {
		padding-left: 0;
		padding-right: 0;
	}

	&--form {
		max-width: 496px;
	}

	&--nav,
	&--footer {
		display: flex;
		flex-direction: row;
	}

	&--footer {
		padding-top: 20px;
		padding-bottom: 20px;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}
}