<div class="press-release concrete-printer-press-release">
  <div class="wrapper">
    <h2 class="section-heading">
      Ethereal Concrete 3D Printer
    </h2>
    <div class="press-release__product-image press-release__product-image--concrete"></div>
    <section class="concrete-printer-press-release__content-section">
      <p class="section-text">
        Ethereal Machines is proud to announce 
        India’s first automated concrete laying machine – a
        Concrete 3D printer (Patent filed). The machine dispenses
        concrete in layers; one on top of the other to give shape to
        forms of any complexity within a few hours. Concrete 3D
        printing technology has the potential to enable housing for
        millions of people in our subcontinent.
      </p>
      <p class="section-text">
        A drastic pivot in the construction industry is long overdue as
        traditional methods of infrastructure construction have a few
        drawbacks. The current processes are expensive, slow,
        labor intensive, generate a lot of construction waste, difficult
        to implement in remote areas and do not allow for complex
        shape creation. These methods create economic and
        logistical hurdles for low cost housing, rapid and emergency
        relief construction.
      </p>
      <p class="section-text">
        We strongly believe that every Indian family is entitled to a
        stable concrete abode. Better infrastructure is the harbinger
        of a bright prospective future for our country. Automating the
        construction industry is the only approach towards achieving
        that goal, as it will lead to faster and cheaper construction
        techniques. It also enables in reaching out to the hinterlands
        of India where building structures is cumbersome.
      </p>
      <p class="section-text">
        India has an estimated urban housing shortage of 18.8
        million dwelling units and a rural housing shortage of 47.4
        million units. With the Ethereal Concrete 3D printer, we hope
        to cater to this lacuna. Our initial attempts will be on the lines
        of the Swachh Bharat Abhiyaan to 3D print washrooms
        across India. We will also be targeting low cost housing,
        remote location constructions and emergency relief
        constructions.
      </p>
      <p class="section-text">
        In-depth details on the concrete 3D printer, materials used and
        projects undertaken will be released soon.
      </p>
    </section>
    <section class="concrete-printer-press-release__product-images">
      <img src="assets/images/concrete-printer-press-release.component.images/product-image-1.jpg" alt="Concrete Printer" class="img-responsive">
      <img src="assets/images/concrete-printer-press-release.component.images/product-image-2.jpg" alt="Concrete Printer" class="img-responsive">
    </section>
  </div>
</div>

<app-footer></app-footer>