@import './global-styles/_fonts';
@import './global-styles/_variables';
@import './global-styles/_mixins';
@import './global-styles/_global';
@import './modules/_app.component';
@import './modules/_header.component';
@import './modules/_footer.component';
@import './modules/_contact-us.component';
@import './modules/_company.component';
@import './modules/_products.component';
@import './modules/_home.component';
@import './modules/_media.component';
@import './modules/_products.component';
@import './modules/_press-release.component';
@import './modules/_concrete-printer-press-release.component';
@import './modules/_lalbhai-group-press-release.component';