<div class="press-release lalbhai-group-press-release">
  <div class="wrapper">
    <h2 class="section-heading">
       Equity Investment by The Lalbhai Group
    </h2>
    <section class="lalbhai-group-press-release__content-section">
      <p class="section-text headline">
        Ethereal Machines is honoured to announce an equity investment by The Lalbhai Group.
      </p><br>
      <p class="section-text">
        The Lalbhai Group is a $2 Billion Conglomerate. The group with its legacy of over a hundred years is amongst the most reputed
        business families in the sub-continent of India. The brand value associated with the Lalbhai group has ushered in a lot of
        ventures with major Brands such as; Tommy Hilfiger, Gap, Nautica, Arrow, in the retail segment and brands such as Preiss
        Daimler and OG Group for industrial products.
      </p><br>
      <p class="section-text">
        Mr. Mohal Lalbhai has come onboard Ethereal Machines in the capacity of a Director and provides his valuable guidance and
        support on both the fronts of business and technical developments. <em>“Being from the field of materials and equipped with a
        degree in the same, I find the work being done by Ethereal Machines quite exciting. The manufacturing market space has tremendous
        scope and a lot of voids for Ethereal to exploit and gain a strong footing,”</em> says Mr. Mohal Lalbhai.
      </p><br>
      <p class="section-text">
        <em>“Mr. Lalbhai has been quite instrumental in bringing all our recent developments to light, right from the ideation stage.
        His energy, excitement and dedication is unparalleled and inspires everyone at Team Ethereal to strive harder every day.
        He is responsible for providing the push required for Ethereal to be present at an international stage such as CES 2018 and
        bag the CES 2018 - Best of Innovation Awards”</em> - Navin Jain, CTO, Ethereal Machines.
      </p><br>
      <p class="section-text">
        We strongly believe that the partnership between Ethereal Machines and The Lalbhai Group will help in creating a larger
        impact on the manufacturing sector around the world. We are also positive that the association will help each one at Ethereal
        Machines grow not just in their professional capacities, but in individual capacities as well.
      </p>
    </section>
  </div>
</div>

<app-footer></app-footer>
